*,*::before,*::after{box-sizing: border-box;}
body{margin: 0;}
#topMenu { height: 30px; width: 566px;} 
  #topMenu ul {list-style-type: none; margin: 0px; padding: 0px; } 
  #topMenu ul li {color: white; background-color: #64AAFF;  float: left; line-height: 40px;  vertical-align: middle;  text-align: center;  position: relative;} 
  .menucss, .submenucss {  text-decoration:none; display: block;  width: 350px; font-size: 12px; font-weight: bold; font-family: "Trebuchet MS", Dotum;  }
  .menucss { color: white; } 
  .topMenucss:hover .menucss { color: red;  background-color: #4d4d4d; } 
  .submenucss {color: #2d2d2d;  background-color: white;  border: solid 1px black;  margin-top: -1px;} 
  .submenu { position: absolute; height: 0px;  overflow: hidden;  transition: height .2s;  -webkit-transition: height .2s;  -moz-transition: height .2s; -o-transition: height .2s;  } 
  .topMenucss:hover .submenu {height: 1000px; } 
  .submenucss:hover {  color: white;  background-color: #dddddd; } 
  #mid{border: 5px solid red;}
  #midupperlogo {position:relative; z-index:2;  margin-left:220px; border: 5px solid blue;}
  #midunderlogo {position:relative; left:10px; top:-300px; z-index:1;  margin-left:550px; border: 5px solid black;}
  h1.Section-Top {margin-left: 220px;}
@font-face{ src: url("../assets/font/SF-Pro-Text-Light.otf") format('truetype'); font-family: "SF-T1"; font-weight:100; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Regular.otf") format('truetype'); font-family: "SF-T2"; font-weight:200; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Medium.otf") format('truetype'); font-family: "SF-T3"; font-weight:300; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Semibold.otf") format('truetype'); font-family: "SF-T4"; font-weight:400; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Bold.otf") format('truetype'); font-family: "SF-T5"; font-weight:500; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Heavy.otf") format('truetype'); font-family: "SF-T6"; font-weight:600; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Ultralight.otf") format('truetype'); font-family: "SF-D1"; font-weight:100; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Thin.otf") format('truetype'); font-family: "SF-D2"; font-weight:200; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Light.otf") format('truetype'); font-family: "SF-D3"; font-weight:300; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Regular.otf") format('truetype'); font-family: "SF-D4"; font-weight:400; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Medium.otf") format('truetype'); font-family: "SF-D5"; font-weight:500; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Semibold.otf") format('truetype'); font-family: "SF-D6"; font-weight:600; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Bold.otf") format('truetype'); font-family: "SF-D7"; font-weight:700; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Heavy.otf") format('truetype'); font-family: "SF-D8"; font-weight:800; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Black.otf") format('truetype'); font-family: "SF-D9"; font-weight:900; }
.unit1-image{
	background-image: url("../assets/Content1-img.png");
	background-size: 600px;
	background-position: 51% 130%;
	background-repeat: no-repeat;
	height: 350px;
	background-position: 50% 29%;
}
h1.section-heading{
	font-family: "SF-D7";
	font-size:45px;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: 0.0em;
}
.section-subheading{
	font-size: 22px;
	line-height: 1.2381;
	font-weight: 400;
	letter-spacing: .010em;
	margin-top: -20px;
	margin-bottom : -5px;
	font-family: "SF-D5";
}
.section-content{
	font-weight: 500;
	font-size: 18px;
	font-family: "SF-T1";
	line-height: 1.4;
	word-break:keep-all;
	margin-left: 20%;
	margin-right: 20%;
	letter-spacing: -0.3px;
}
.content-g{
	color: #292929;
}
.content-b{
	color: #86868b;
}
.Table-Section1{
	margin-top : 55px;
}
.table-layout{
	table-layout: fixed;
	word-break:break-all;
	height:100%;
	text-align: center;
}
.unit-link{
	display:block;
}

.page-section {
	float:center;
	padding: 0.5rem 0;
  }
  .container{
	max-width: 100%;
	float:center;
	padding-right: 0.35rem;
	padding-left: 0.35rem;
	margin-right: auto;
	margin-left: auto;
  }
  .text-center {
	text-align: center !important;
  }
  .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1.05rem;
	margin-left: -1.05rem;
	justify-content: center;
  }
<<<<<<< Updated upstream
  .unit1{
	background-image: url("../assets/content1-back.jpg");
=======
  .unit-back{
	background-image: url("../assets/main/content1-back.jpg");
>>>>>>> Stashed changes
	background-position: 50% 70%;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
	text-shadow: 4px 4px 6px #1d1d1d;

  }
<<<<<<< Updated upstream
  .unit4{
	background-image: url("../assets/content4-back.jpg");
	background-position: 50% 0%;
=======
  .unit-back2{
	background-image: url("../assets/main/content4-back.png");
	background-position: 50% 70%;
	background-size: cover;
>>>>>>> Stashed changes
	background-repeat: no-repeat;
	background-size: cover;
	color:white;


  }
<<<<<<< Updated upstream
  .unit5{
	background-image: url("../assets/content5-back.jpg");
	background-position: 50% 10%;
=======
  .unit-back3{
	background-image: url("../assets/main/content5-back.png");
	background-position: 50% 70%;
	background-size: cover;
>>>>>>> Stashed changes
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
	text-shadow: 4px 4px 6px #1d1d1d;

  }
  .bg-test2{
	background: linear-gradient( 140deg,rgb(222, 255, 114), rgb(43, 222, 253) 90%);
  }
  .bg-test3{
	background: linear-gradient( 140deg,rgb(100, 237, 255), rgb(174, 179, 255) 90%);
  }
  .bg-black{
		color:rgb(0, 0, 0);
		//background-color: black;
  }
  .bg-gray{
		background-color: #fbfbfd;
  }
  .bg-deepgray{
	  background-color: #f7f7f7;
  }
  .col-md, .col-lg, .col-sm {
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	min-height : 620px;
	margin-left: 0.25%;
	margin-right: 0.25%;
	margin-top: 10px;
  }	
@media (min-width: 577px) {
	.col-md {
		flex: 0 0 50%;
		max-width: 49%;
	}
}
#bottom {
	text-align: right;
	font-style: italic; 
	font-size: small;
	border: 5px solid green; 
}

#gachonLogo {
display:inline-block;
position:relative;
top:-315px; left:15px;
border: 5px solid yellow; 
}

#contents {
border: 5px solid purple; 
}
#slice {
border: 5px solid black; 
display:inline-block;
margin-left:580px;
}

.test{
margin-left: 100px;
}
.align-center{
height: 40px;
margin: 30 auto;
}
#bottom {
text-align: right;
font-style: italic; 
font-size: small;
border: 5px solid green; 
}
.Sizedbox{
height: 44px;
}
.Topnav{
z-index: 999;
position: relative;
top: 0;
left: 0;
right: 0;
height: 44px; 
margin: 0px 0px 0px 0px;
/*background: linear-gradient( to right,rgb(67, 216, 236), rgb(31, 44, 226) 70%);*/
/*background: linear-gradient( to right,rgb(73, 72, 72), rgb(0,0,0) 90%);*/
background: rgba(0,0,0,0.8);
backdrop-filter: saturate(180%) blur(20px);
}
.Topnav .nav-content{
margin: 0 auto;
max-width: 980px;
}
.Topnav .nav-content .nav-ul{
height:44px;
justify-content: space-between;
display : flex;
list-style: none;
padding:0px;
vertical-align: center;
}
.Topnav .nav-content .nav-ul .nav-li{
height:44px;
text-align: center;
display: inline-block;
font-weight:bolder;
}
.Topnav .nav-content .nav-ul .nav-li .nav-link{
	text-decoration: none;
	color:#f5f5f7;
	font-size: 14px;
	opacity: .8;
	line-height: 12px;
	font-family: 'SF-T1';
	letter-spacing: -.01em;
	font-weight: 10;
}
.Topnav .nav-content .nav-ul .nav-li .nav-main{
	text-decoration: none;
	color:#f5f5f7;
	font-size: 16px;
	font-family: 'SF-T6';
	letter-spacing: 0.05em;
}
.search-placeholder{
	height:.0em;
}
.Topnav .nav-content .nav-ul .nav-li .nav-link:hover {opacity: 100; } 
#title_content {border: 5px solid red;}

.nav-center{
	letter-spacing: 0em;
}
.page-footer {
	font-size: 10px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	background-color: #fbfbfb;
	color: #1d1d1f;
	min-width: 1024px;
	padding-top: 40px;
	padding-bottom: 20px;
}
.ft-content{
	margin:0 auto;
	max-width: 1024px;
	padding: 0 22px;
}
.ft-directory{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom : 30px;
}
.ft-column{
	flex-basis: 25%;

}
.ft-column-section{
	font-size: 10.5px;
	font-family: 'SF-T2';
	font-weight:600;
}
.ft-column-section-list{
	margin-right: 20px;
	list-style:none;
	padding: 0;
	font-family: 'SF-T1';
	font-weight: lighter;
}
.ft-column-section-item{
	font-size:12.5px;
	display: block;
	pointer-events : auto;
	margin-bottom: .8em;
}
#border{
	border-top: 0.1px solid rgb(199, 198, 198);
}
.ft-link{text-decoration: none;
	color:#4B4B4B;}
.ft-info{
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: 'SF-T2';
	font-size: 12px;
	color:#4B4B4B;
}
.ft-tip{
	font-family: 'SF-T2';
	font-size: 12px;
	color:#4B4B4B;
}
.ft-tip-link{
	text-decoration: none;
	color:#06c;
}
.ft-info-copy{float:left;}
.fit-info-Group{
	margin-left: 30px;
	float:left;
	color:#626262;
}
.border-right{
	border-right: 1px solid #d2d2d7;
	margin-right: 7px;
	padding-right: 10px;
}
.home-main{
	padding-top: 120px;
	margin-bottom: 250px;
}

.home-content{
	width: 1800px;
	padding: 0 20px;
	margin: 0 auto;
}
.home-content-middle{
	display:flex;
}
.home-content-img-div{
	/*background: linear-gradient(140deg,rgb(67, 216, 236), rgb(31, 44, 226) 45%,rgb(26, 224, 250));*/
	background: linear-gradient(140deg,rgb(236, 67, 21),rgb(205, 26, 250));
	width: 66.582%;
	position: relative;
	z-index: 1;
	margin-bottom: -117.594px;
	box-shadow: 8px 10px 35px -5px rgb(0 0 0 / 25%);
}
.home-content-side{
	padding-left: 6.9%;	
	width: 33.418%;
	padding-bottom: 30px;
}
.home-content-side-img{
	margin-top: 20px;
	width: 170px;
	max-width: 100%;
	display:block;
	margin-left: -25px;
}
.home-content-bottom{
	width: 77.379%;
	margin-right: 0;
	margin-left: auto;
	background:linear-gradient(140deg,#ffb326,rgba(255, 199, 110, 0.849) 80%);
	box-shadow: 10px 15px 35px -5px rgb(0 0 0 / 25%);
}
.home-content-bottom-top{padding-top:4px;}
.home-content-bottom-bottom{padding: 23px 70px 44px;}
.home-heading{
	font-size: 110px;
	font-family: 'SF-D3';
	color:#ffffff;
	margin-bottom: -5px;
}
.home-Subheading{
	font-size: 20px;
	font-family: 'SF-D2';
	color:#ffffff;
	letter-spacing: 1px;
}
.home-content-img-div2{
	text-align: center;
	width: 60%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-top-content{
	width:43.188%;
	margin-right: 0;
	margin-left: auto;
	padding-left: 6.918%;
	padding-right: 4%;
	padding-top: 1.4%;
	padding-bottom: 2.4%;
}
.bottom-top-p{
	font-size: 35px;
	color:#2F3857;
	font-family: 'SF-D6';
}
.bottom-bottom-p{
	font-size: 20px;
	color:#2F3857;
	font-family: 'SF-D6';
}
@media (max-width: 1820px){
	.home-content{width:100%;}
	.home-content-bottom{width:74%;}
	.home-content-side{padding-left: 4.9%;}
	.home-content-bottom-bottom{padding: 20px 47px 42px;}
}

@media (max-width: 1356px){
	.home-content-img-div2{width:100%}
}
@media (max-width: 970px){
	.home-heading{font-size: 90px}
	.home-Subheading{font-size:15px}
}

.section-page{
	padding: 40px 32px 70px 32px;
	box-sizing: border-box;
}
.section-page-column{
	margin-right: auto!important;
	margin-left: auto!important;
	display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
}
.section-page-column-flex{
	border: 0 solid transparent;
	border-width:30px;
	width:33.333333%;
	max-width: 33.333333%;
	flex: 1 1 auto;
	min-height: auto;
	align-content: center;
	align-items: flex-start;
	justify-content: center;
	text-align: center;

}
.hr1{
	border-width: 2.9px;
	border-style: solid none none none;
	width:35px;
	color: rgb(64, 71, 163);
	margin-top: 20px;
	margin-bottom: 30px;
}
.page1-column-heading{font-family: 'SF-D5'; color: #2f3857;}
.page1-column-subheading{margin: 0px 30px 0px 30px; font-family: "SF-T1"; font-size: 20px;}

.main-heading{
	color:#2f3857;
	font-size: 3.75rem;
	font-family: 'SF-D4';
}
.main-subheading{
	font-size: 1.25em;
	font-family: 'SF-T1';
	margin-top: -20px;
	margin-left: 32%;
	margin-right: 32%;
	margin-bottom: 60px;
}
.main-contain{
	margin: 0 auto;
	max-width: 1300px;
}
.warigari-left{
	margin-left:120px;
	border: 0px solid transparent;
	border-width:15px;
}
.warigari-right{
	margin-right:120px;
	border: 0px solid transparent;
	border-width:15px;
}
.warigari-content{
	display:flex;
	flex-wrap: wrap;
	height: 450px;
	border-radius: 4px;
	background-color: #ffffff;
}
.warigari-text{
	max-width: 33.333333%;
	flex: 1 1 auto;
}
.warigari-img{
	max-width: 66.666667%;
	flex: 1 1 auto;
	min-height: auto;
	margin-left: 50px;
}
.warigari-text-origin{
	padding-bottom: 32px;
	padding-top: 32px;
	padding-left: 32px;
}
.warigari-heading1{
	margin-top: 0px;
	margin-bottom: 0px;
	color:#8C98BF;
	font-size: 1.875em;
	font-family: 'SF-D4';
}
.warigari-heading2{
	margin-top: 0px;
	margin-bottom: 0px;
	color:#2F3857;
	font-size: 1.875em;
	font-family: 'SF-D4';
}
.warigrai-text-content{
	font-size: 15px;
	line-height: 1.7;
	font-family: 'SF-T1';
}
.column-page{
	display:flex;
	flex-wrap:wrap;
	max-width: 1840px;
	margin-right: auto;
	margin-left: auto;
	margin-top:20px;
	margin-bottom:30px;
}
.column-page-item{
	min-height: 400px;
	margin-left:30px;
	margin-right:30px;
	max-width: 25%;
	flex: 1 1 auto;	
	border-radius: 4px;
	background-color: #ffffff;
	display:flex;
	flex-direction: column;
}
.bg-carbon{
	background-color: #333A45;
}
.column-img{
	flex: 1 1 auto;
	max-height: 65%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.column-text-div{
	flex: 1 1 auto;
	max-height: 35%;
}
.column-text{
	font-size: 24px;
	font-family: 'SF-D5';
	color: #2F3857;
}
.column-subtext{
	margin-top: -10px;
	font-family: 'SF-D5';
	color: #2F3857;
}