*,*::before,*::after{box-sizing: border-box;}
//body{margin: 0;}
#topMenu { height: 30px; width: 566px;} 
  #topMenu ul {list-style-type: none; margin: 0px; padding: 0px; } 
  #topMenu ul li {color: white; background-color: #64AAFF;  float: left; line-height: 40px;  vertical-align: middle;  text-align: center;  position: relative;} 
  .menucss, .submenucss {  text-decoration:none; display: block;  width: 110px; font-size: 12px; font-weight: bold; font-family: "Trebuchet MS", Dotum;  }
  .menucss { color: white; } 
  .topMenucss:hover .menucss { color: red;  background-color: #4d4d4d; } 
  .submenucss {color: #2d2d2d;  background-color: white;  border: solid 1px black;  margin-top: -1px;} 
  .submenu { position: absolute; height: 0px;  overflow: hidden;  transition: height .2s;  -webkit-transition: height .2s;  -moz-transition: height .2s; -o-transition: height .2s;  } 
  .topMenucss:hover .submenu {height: 93px; } 
  .submenucss:hover {  color: white;  background-color: #dddddd; } 
  #mid{border: 5px solid red;}
  #midupperlogo {position:relative; z-index:2;  margin-left:220px; border: 5px solid blue;}
  #midunderlogo {position:relative; left:10px; top:-300px; z-index:1;  margin-left:550px; border: 5px solid black;}
  h1.Section-Top {margin-left: 220px;}
h1.section-heading{
}
.section-subheading{
	word-break:keep-all;
	margin-left: 20%;
	margin-right: 20%;
}
.Table-Section1{
	color:white;
	margin-top : 100px;
}
.table-layout{
	table-layout: fixed;
	word-break:break-all;
	height:100%;
	text-align: center;
}
.unit-link{
	display:block;
}

.page-section {
	float:center;
	padding: 0.5rem 0;
  }
  .container{
	max-width: 100%;
	float:center;
	padding-right: 0.35rem;
	padding-left: 0.35rem;
	margin-right: auto;
	margin-left: auto;
  }
  .text-center {
	text-align: center !important;
  }
  .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -0.75rem;
	margin-left: -0.75rem;
	justify-content: center;
  }

  .col-md, .col-lg, .col-sm {
	background-color: black;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	min-height : 400px;
	margin-left: 0.25%;
	margin-right: 0.25%;
	margin-top:0.5%;
  }	
  @media (min-width: 577px) {
	.col-md {
	  flex: 0 0 50%;
	  max-width: 49%;
	}
  }
  #bottom {
	text-align: right;
	font-style: italic; 
	font-size: small;
	border: 5px solid green; 
	}
	
	#gachonLogo {
	display:inline-block;
	position:relative;
	top:-315px; left:15px;
	border: 5px solid yellow; 
	}

	#contents {
	border: 5px solid purple; 
	}
	#slice {
	border: 5px solid black; 
	display:inline-block;
	margin-left:580px;
	}