*,*::before,*::after{box-sizing: border-box;}
body{margin: 0;}
#topMenu { height: 30px; width: 566px;} 
  #topMenu ul {list-style-type: none; margin: 0px; padding: 0px; } 
  #topMenu ul li {color: white; background-color: #64AAFF;  float: left; line-height: 40px;  vertical-align: middle;  text-align: center;  position: relative;} 
  .menucss, .submenucss {  text-decoration:none; display: block;  width: 350px; font-size: 12px; font-weight: bold; font-family: "Trebuchet MS", Dotum;  }
  .menucss { color: white; } 
  .topMenucss:hover .menucss { color: red;  background-color: #4d4d4d; } 
  .submenucss {color: #2d2d2d;  background-color: white;  border: solid 1px black;  margin-top: -1px;} 
  .submenu { position: absolute; height: 0px;  overflow: hidden;  transition: height .2s;  -webkit-transition: height .2s;  -moz-transition: height .2s; -o-transition: height .2s;  } 
  .topMenucss:hover .submenu {height: 1000px; } 
  .submenucss:hover {  color: white;  background-color: #dddddd; } 
  #mid{border: 5px solid red;}
  #midupperlogo {position:relative; z-index:2;  margin-left:220px; border: 5px solid blue;}
  #midunderlogo {position:relative; left:10px; top:-300px; z-index:1;  margin-left:550px; border: 5px solid black;}
  h1.Section-Top {margin-left: 220px;}
@font-face{ src: url("../assets/font/SF-Pro-Text-Light.otf") format('truetype'); font-family: "SF-T1"; font-weight:100; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Regular.otf") format('truetype'); font-family: "SF-T2"; font-weight:200; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Medium.otf") format('truetype'); font-family: "SF-T3"; font-weight:300; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Semibold.otf") format('truetype'); font-family: "SF-T4"; font-weight:400; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Bold.otf") format('truetype'); font-family: "SF-T5"; font-weight:500; }
@font-face{ src: url("../assets/font/SF-Pro-Text-Heavy.otf") format('truetype'); font-family: "SF-T6"; font-weight:600; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Ultralight.otf") format('truetype'); font-family: "SF-D1"; font-weight:100; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Thin.otf") format('truetype'); font-family: "SF-D2"; font-weight:200; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Light.otf") format('truetype'); font-family: "SF-D3"; font-weight:300; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Regular.otf") format('truetype'); font-family: "SF-D4"; font-weight:400; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Medium.otf") format('truetype'); font-family: "SF-D5"; font-weight:500; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Semibold.otf") format('truetype'); font-family: "SF-D6"; font-weight:600; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Bold.otf") format('truetype'); font-family: "SF-D7"; font-weight:700; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Heavy.otf") format('truetype'); font-family: "SF-D8"; font-weight:800; }
@font-face{ src: url("../assets/font/SF-Pro-Display-Black.otf") format('truetype'); font-family: "SF-D9"; font-weight:900; }
.unit1-image{
	background-image: url("../assets/Content1-img.png");
	background-size: 600px;
	background-position: 51% 130%;
	background-repeat: no-repeat;
}
h1.section-heading{
	font-family: "SF-D7";
	font-size:40px;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: 0.0em;
}
.section-subheading{
	font-size: 21px;
	line-height: 1.2381;
	font-weight: 400;
	letter-spacing: .010em;
	margin-top: -20px;
	font-family: "SF-D4";
}
.section-content{
	font-weight: 200;
	font-size: 18px;
	font-family: "SF-T1";
	line-height: 1.4;
	word-break:keep-all;
	margin-left: 20%;
	margin-right: 20%;
}
.content-g{
	color: #292929;
}
.content-b{
	color: #86868b;
}
.Table-Section1{
	margin-top : 55px;
}
.table-layout{
	table-layout: fixed;
	word-break:break-all;
	height:100%;
	text-align: center;
}
.unit-link{
	display:block;
}

.page-section {
	float:center;
	padding: 0.5rem 0;
  }
  .container{
	max-width: 100%;
	float:center;
	padding-right: 0.35rem;
	padding-left: 0.35rem;
	margin-right: auto;
	margin-left: auto;
  }
  .text-center {
	text-align: center !important;
  }
  .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1.05rem;
	margin-left: -1.05rem;
	justify-content: center;
  }

  .bg-black{
		color:white;
		background-color: black;
  }
  .bg-gray{
		background-color: #fbfbfd;
  }
  .col-md, .col-lg, .col-sm {
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	min-height : 580px;
	margin-left: 0.25%;
	margin-right: 0.25%;
	margin-top: 10px;
  }	
@media (min-width: 577px) {
	.col-md {
		flex: 0 0 50%;
		max-width: 49%;
	}
}
#bottom {
	text-align: right;
	font-style: italic; 
	font-size: small;
	border: 5px solid green; 
}

#gachonLogo {
display:inline-block;
position:relative;
top:-315px; left:15px;
border: 5px solid yellow; 
}

#contents {
border: 5px solid purple; 
}
#slice {
border: 5px solid black; 
display:inline-block;
margin-left:580px;
}

.test{
margin-left: 100px;
}
.align-center{
height: 40px;
margin: 30 auto;
}
#bottom {
text-align: right;
font-style: italic; 
font-size: small;
border: 5px solid green; 
}
.Sizedbox{
height: 44px;
}
.Topnav{
z-index: 999;
position: relative;
top: 0;
left: 0;
right: 0;
height: 44px; 
margin: 0px 0px 0px 0px;
background: linear-gradient( to right,rgb(67, 216, 236), rgb(31, 44, 226) 70%);
}
.Topnav .nav-content{
margin: 0 auto;
max-width: 980px;
}
.Topnav .nav-content .nav-ul{
height:44px;
justify-content: space-between;
display : flex;
list-style: none;
padding:0px;
vertical-align: center;
}
.Topnav .nav-content .nav-ul .nav-li{
height:44px;
text-align: center;
display: inline-block;
font-weight:bolder;
}
.Topnav .nav-content .nav-ul .nav-li .nav-link{
	text-decoration: none;
	color:#f5f5f7;
	font-size: 14px;
	opacity: .8;
	line-height: 12px;
	font-family: 'SF-T1';
	letter-spacing: -.01em;
	font-weight: 10;
}
.Topnav .nav-content .nav-ul .nav-li .nav-main{
	text-decoration: none;
	color:#f5f5f7;
	font-size: 16px;
	font-family: 'SF-T6';
	letter-spacing: 0.05em;
}
.search-placeholder{
	height:.0em;
}
.Topnav .nav-content .nav-ul .nav-li .nav-link:hover {opacity: 100; } 
#title_content {border: 5px solid red;}

.nav-center{
	letter-spacing: 0em;
}
.page-footer {
	font-size: 10px;
	line-height: 1.33337;
	font-weight: 400;
	letter-spacing: -.01em;
	background-color: #fbfbfb;
	color: #1d1d1f;
	min-width: 1024px;
	padding-top: 40px;
	padding-bottom: 20px;
}
.ft-content{
	margin:0 auto;
	max-width: 1024px;
	padding: 0 22px;
}
.ft-directory{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom : 30px;
}
.ft-column{
	flex-basis: 25%;

}
.ft-column-section{
	font-size: 10.5px;
	font-family: 'SF-T2';
	font-weight:600;
}
.ft-column-section-list{
	margin-right: 20px;
	list-style:none;
	padding: 0;
	font-family: 'SF-T1';
	font-weight: lighter;
}
.ft-column-section-item{
	font-size:12.5px;
	display: block;
	pointer-events : auto;
	margin-bottom: .8em;
}
#border{
	border-top: 0.1px solid rgb(199, 198, 198);
}
.ft-link{text-decoration: none;
	color:#7f7f80;}
.ft-info{
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: 'SF-T2';
	font-size: 12px;
	color:#7f7f80;
}
.ft-tip{
	font-family: 'SF-T2';
	font-size: 12px;
	color:#7f7f80;
}
.ft-tip-link{
	text-decoration: none;
	color:#06c;
}
.ft-info-copy{float:left;}
.fit-info-Group{
	margin-left: 30px;
	float:left;
	color:#626262;
}
.border-right{
	border-right: 1px solid #d2d2d7;
	margin-right: 7px;
	padding-right: 10px;
}
.home-main{
	padding-top: 80px;
	margin-bottom: 80px;
}

.home-content{
	width: 1800px;
	padding: 0 20px;
	margin: 0 auto;
}
.home-content-middle{
	display:flex;
}
.home-content-img-div{
	background: linear-gradient(140deg,rgb(67, 216, 236), rgb(31, 44, 226) 45%,rgb(26, 224, 250));
	width: 66.582%;
	position: relative;
	z-index: 1;
	margin-bottom: -117.594px;
}
.home-content-side{
	padding-left: 11.9%;	
	width: 33.418%;
	padding-bottom: 30px;
}
.home-content-side-img{
	margin-top: 20px;
	width: 140px;
	max-width: 100%;
	display:block;
	margin-left: -15px;
}
.home-content-bottom{
	width: 77.379%;
	margin-right: 0;
	margin-left: auto;
	background-color: #fbfbfb;
}
.home-content-bottom-top{padding-top:34px;}
.home-content-bottom-bottom{padding: 43px 70px 54px;}
.home-heading{
	font-size: 110px;
	font-family: 'SF-D3';
	color:#ffffff;
	margin-bottom: -5px;
}
.home-Subheading{
	font-size: 20px;
	font-family: 'SF-D2';
	color:#ffffff;
	letter-spacing: 1px;
}
.home-content-img-div2{
	text-align: center;
	width: 60%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-top-content{
	width:43.188%;
	margin-right: 0;
	margin-left: auto;
	padding-left: 8.918%;
	padding-right: 8%;
	padding-top: 2.4%;
	padding-bottom: 2.4%;
}
@media (max-width: 1820px){
	.home-content{width:100%;}
	.home-content-bottom{width:74%;}
	.home-content-side{padding-left: 10.9%;}
	.home-content-bottom-bottom{padding: 40px 47px 56px;}
}

@media (max-width: 1356px){
	.home-content-img-div2{width:100%}
}
@media (max-width: 970px){
	.home-heading{font-size: 90px}
	.home-Subheading{font-size:15px}
}

.section-page1{
	padding: 100px 32px 100px 32px;
	box-sizing: border-box;
}
.section-page1-column{
	margin-right: auto!important;
	margin-left: auto!important;
	display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
}
.section-page1-column-flex{
	border: 0 solid transparent;
	border-width:30px;
	width:33.333333%;
	max-width: 33.333333%;
	flex: 1 1 auto;
	min-height: auto;
	align-content: center;
	align-items: flex-start;
	justify-content: center;
	text-align: center;

}
.hr1{
	border-width: 2.9px;
	border-style: solid none none none;
	width:35px;
	color: rgb(64, 71, 163);
	margin-top: 20px;
	margin-bottom: 30px;
}
.page1-column-heading{font-family: 'SF-D5'; color: #2f3857;}
.page1-column-subheading{margin: 0px 30px 0px 30px; font-family: "SF-T1"; font-size: 20px;}