  body{margin: 0;}
  #topMenu { height: 30px; width: 1790px; margin: 15px auto 15px auto;} 
  #topMenu ul {list-style-type: none; margin: 0px; padding: 0px; } 
  #topMenu ul li {color: white; background-color: #64AAFF;  float: left; line-height: 40px;  vertical-align: middle;  text-align: center;  position: relative;} 
  .menucss, .submenucss {  text-decoration:none; display: block;  width: 350px; font-size: 12px; font-weight: bold; font-family: "Trebuchet MS", Dotum;  }
  .menucss { color: white; } 
  .topMenucss:hover .menucss { color: red;  background-color: #4d4d4d; } 
  .submenucss {color: #2d2d2d;  background-color: white;  border: solid 1px black;  margin-top: -1px;} 
  .submenu { position: absolute; height: 0px;  overflow: hidden;  transition: height .2s;  -webkit-transition: height .2s;  -moz-transition: height .2s; -o-transition: height .2s;  } 
  .topMenucss:hover .submenu {height: 1000px; } 
  .submenucss:hover {  color: white;  background-color: #dddddd; } 

  #bottom {
	text-align: right;
	font-style: italic; 
	font-size: small;
	border: 5px solid green; 
	}

  #title_content {border: 5px solid red;}
